{% extends "index.html" %}

{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <div itemprop="headline">
        <h1>{{ page.title }}</h1>
        <div class="border"></div>
        <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="date" itemprop="datePublished">
            {{ page.date | date(format="%d %b %Y") }}
        </time>
    </div>
    <div itemprop="articleBody">
        {{ page.content | safe }}
    </div>
</article>
{% endblock main %}

{% block giscus %}
<div class="border"></div>
<script src="https://giscus.app/client.js"
        data-repo="sh4ka/programando-con-unity"
        data-repo-id="R_kgDOO1aSxA"
        data-category="General"
        data-category-id="DIC_kwDOO1aSxM4CrExF"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="es"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</main>
{% endblock giscus %}